

{{- range .Params.authors }}
<h3>Author(s):</h3>
  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
  <div class="column" style="width: 250px;">
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 10px;">
      <img src="{{ .Permalink }}avatar.jpg" alt="" style="vertical-align: middle;
      width: 100px;
      height: 100px;
      border-radius: 50%;"/>
      <div class="container">
        <h4>{{ .Params.title }}</h4>
        <p class="title">{{ .Params.role }}</p>
        <p><button class="button"><a href="{{ .Permalink }}">Profile</a></button></p>
      </div>
    </div>
   
  {{ end }}
{{ end }}

